@font-face {
  font-family: 'Italiana';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/italiana/v21/QldNNTtLsx4E__B0XTmR.ttf) format('truetype');
}
